*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Circular Std', sans-serif;
    overflow: hidden;
}

main{
    height: calc(100vh - 80px);
    width: 100vw;
}

footer{
    height: 80px;
    position: relative;
    padding: 0 1rem;
    background-color: rgb(40, 40, 40);
    justify-content: space-between;
    align-items: center;
    z-index: 15;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.flex-container{
    display: flex;
}

.float-left{
    float: left;
}

a{
    font-size: small;
    text-decoration: none;
    color: grey;
}

.size-medium{
    font-size: medium;
    z-index: 6;
}

h3{
    font-size: small;
}

.radius50{
    border-radius: 50%;
}

/* DESKTOP FIRST */


/* INIZIO SVILUPPO NAV-SPOTOIFY */

#navigation-spotify{
    width: 250px;
    flex-shrink: 1;
    background-color: black;
    padding: .5rem 1rem;
    min-height: 350px;
}

.box{
    margin-top: 1rem;
    width: 100%;
}

.box-container{
    height: 50%;
}

#navigation-spotify > .box-container:first-child{
    flex-direction: column;
    justify-content: space-between;
}

#navigation-spotify > .box-container:first-child .logo{
    height: 40px;
    padding-right: 0.5rem;
}

#navigation-spotify > .box-container:nth-child(2){
    align-items: flex-end;
}

/* PRIMO BOX */

#small-logo{
    display: none;
}

.list-container{
    height: 25vh;
    overflow: auto;
}

.search{
    align-items: center;
    color: white;
}

.search img{
    height: 30px;
    filter: contrast(0);
}

.grey{
    color: grey;
}
.white{
    color: white;
}
.playlist-container li{
    margin: 0.5rem 0;
    list-style: none;
}

/* SECONDO BOX */

#img-profile{
    filter: contrast(100%);
    background-color: grey;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
#img-download{
    height: 15px;
}

#img-profile,#img-download{
    margin-right: .5rem;
}

.box-container hr{
    margin: 1rem 0;
}

/* HOVER NAV */
#navigation-spotify a:hover, .selection-list li a:hover{
    color: white;
}

.search img:hover {
    filter: contrast(100%);
}
/* SVILUPPO MAIN-CONTENT */

#main-content{
    position: relative;
    overflow-y: scroll;
    width: calc(100% - 250px);
    background-color: rgb(20, 25, 34);
}

.premium-bar{
    position: fixed;
    justify-content: right;
    align-items: center;
    height: 90px;
    width: calc(100% - 250px);
    background-color: rgba(0,  0, 0, 0.3);
    z-index: 6;
}



.premium-bar div a{
    padding: .7rem 2.5rem;
    margin-right: 1.5rem;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(0,  0, 0, 0.3);
}

.premium-bar > div:hover .size-medium{
    font-size: large;
}

/* MAIN CONTAINER */
/* MAIN SELECTION LIST */
.main-container{
    padding-top: 95px;
}
.selection-list{
    text-align: center;
}
.selection-list li{
    display: inline-block;
    padding: 0 .5rem;
}

.selection-list li:hover{
    border-bottom: 1px solid green;
}
/* MAIN RECENTLY PLAYED */

.space-between{
    justify-content: space-between;
}

.album-container{
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-right: 1rem;
}

.album-container img{
    width: 100%;
    border-radius: 10px;
} 

.small-container{
    width: 30%;
}

.recently-section-container{
    padding: 1rem;
}
.title-main-container{
    margin-bottom: 1rem;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-play{
    display: none;
    font-size: 50px;
}

/* HOVER MAIN */

.album-container:hover img{
    filter: brightness(.4);
}

.album-container:hover .btn-play{
    display: inline;
    z-index: 3;
}

.popular-artist-container img{
    border-radius: 50%;
}


/* FOOTER */

.footer-div-left{
    align-items: center;
}

.footer-div-left img{
    width: 40px;
}
.name-album-player{
    flex-direction: column;
    margin: 0 2rem 0 1rem;
    justify-content: flex-end;
}
footer p{
    font-size: x-small;
}

.fa-heart{
    margin-right: 1rem;
}

/* FOOTER CENTRAL PART-action*/
.footer-div-central{
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.central-music-actions{
    justify-content: space-evenly;
    width: 235px;
}

.central-music-actions i{
    font-size: x-large;
}

.central-music-actions i:hover{
    color: white;
}

/* FOOTER CENTRAL PART-musicbar*/

.central-music-bar-container{
    align-items: center;
    width: 100%;
}

.bar{
    height: 5px;
    background: gray;
    border-radius: 3px;
}

.music-bar{
    width: 100%;
    margin: 1rem;
}


.bar > div:first-child{
    position: relative;
    width: 25%;
    background: white;
    border-radius: 5px;
}

.bar-circle{
    position: absolute;
    right: 0;
    bottom: -100%;
    height: 15px;
    width: 15px;
    background-color: white;
    display: none;
}

.bar:hover .timing-track{
    background-color: limegreen;
}

.bar:hover .bar-circle{
    display: block;
}

/* FOOTER RIGHT PART */

.footer-div-right{
    height: 100%;
    width: 140px;
    align-items: center;
    justify-content: space-evenly;
}

.volume-bar{
    width: 50%;
}

.footer-div-right > i{
    font-size: x-small;
}

/* HORIZONTAL TABLET */
@media  screen and (min-width:769px) and (max-width:992px) {
    .album-container{
        width: calc(25% - 1rem);
    }
    .space-between{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .small-container{
        width: 100%;
    }
}


/* TABLET / HORIZONTAL SMARTPHONE */
@media  screen and (min-width:577px) and (max-width:768px){
    .album-container{
        width: calc(50% - 1rem);
    }
    .space-between{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .small-container{
        width: 100%;
    }
}

/* MOBILE */
@media screen and (max-width:576px) {
    #navigation-spotify{
        width: 50px;
    }
    #main-content,.premium-bar{
        width: calc(100% - 50px);
    }
    .box:nth-child(3), .box-container:nth-child(2) a,h4,hr,  .search a, #big-logo{
        display: none;
    }
    #navigation-spotify > .box-container:first-child{
        justify-content: flex-start;
    }
    #logo{
        display: flex;
    }
    .search,#logo{
        justify-content: center;
    }
    #small-logo{
        display: block;
        height: 30px;
    }
    #img-download{
        height: 20px;
        margin: 0 0 2rem;
    }
    #img-profile{
        margin: 0;
    }
    .album-container{
        width: calc(50% - 1rem);
    }
    .space-between{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .small-container{
        width: 100%;
    }
    main{
        min-width: 570px;
    }
}