*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Circular Std', sans-serif;
}

main{
    height: 90vh;
    width: 100vw;
}

footer{
    height: 10vh;
    width: 100vw;
    background-color: grey;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.flex-container{
    display: flex;
}

.float-left{
    float: left;
}

#navigation-spotify{
    width: 17%;
    background-color: black;
}

#main-content{
    position: relative;
    overflow-y: scroll;
    width: 83%;
    background-color: blue;
}

.premium-bar{
    position: fixed;
    justify-content: right;
    align-items: center;
    height: 10%;
    width: 83%;
    background-color: rgba(0,  0, 0, 0.3);
}

.premium-bar div a{
    padding: .7rem 2.5rem;
    margin-right: 1.5rem;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(0,  0, 0, 0.3);
}