*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Circular Std', sans-serif;
}

main{
    height: 90vh;
    width: 100vw;
}

footer{
    height: 10vh;
    width: 100vw;
    background-color: rgb(40, 40, 40);
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.flex-container{
    display: flex;
}

.float-left{
    float: left;
}

a{
    font-size: small;
    text-decoration: none;
    color: grey;
}

.size-medium{
    font-size: medium;
}

/* INIZIO SVILUPPO NAV-SPOTOIFY */

#navigation-spotify{
    width: 250px;
    flex-shrink: 1;
    background-color: black;
    padding: .5rem 1rem;
}

.box{
    margin-top: 1rem;
    width: 100%;
}

.box-container{
    height: 50%;
}

#navigation-spotify > .box-container:first-child{
    flex-direction: column;
    justify-content: space-between;
}

#navigation-spotify > .box-container:first-child .logo{
    height: 40px;
    padding-right: 0.5rem;
}

#navigation-spotify > .box-container:nth-child(2){
    align-items: flex-end;
}

/* PRIMO BOX */

#small-logo{
    display: none;
}

.search{
    align-items: center;
    color: white;
}

.search img{
    height: 30px;
    filter: contrast(0);
}

.grey{
    color: grey;
}
.white{
    color: white;
}
.playlist-container li{
    margin: 1rem 0;
    list-style: none;
}

/* SECONDO BOX */

#img-profile{
    filter: contrast(100%);
    background-color: grey;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
#img-download{
    height: 15px;
}

#img-profile,#img-download{
    margin-right: .5rem;
}

.box-container hr{
    margin: 1rem 0;
}

/* HOVER NAV */
#navigation-spotify a:hover{
    color: white;
}

.search img:hover {
    filter: contrast(100%);
}
/* SVILUPPO MAIN-CONTENT */

#main-content{
    position: relative;
    overflow-y: scroll;
    width: calc(100% - 250px);
    background-color: rgb(20, 25, 34);
}

.premium-bar{
    position: fixed;
    justify-content: right;
    align-items: center;
    height: 10%;
    width: calc(100% - 250px);
    background-color: rgba(0,  0, 0, 0.3);
}



.premium-bar div a{
    padding: .7rem 2.5rem;
    margin-right: 1.5rem;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(0,  0, 0, 0.3);
}




/* MOBILE */
@media screen and (max-width:576px) {
    #navigation-spotify{
        width: 80px;
    }
    #main-content,.premium-bar{
        width: calc(100% - 80px);
    }
    .box:nth-child(3){
        display: none;
    }
    .search a{
        display: none;
    }
    .box-container:nth-child(2){
        display: none;
    }
    #navigation-spotify > .box-container:first-child{
        justify-content: flex-start;
    }
    #big-logo{
        display: none;
    }
    #small-logo{
        display: block;
        height: 30px;
    }
}